@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-heading: #253347;
  --color-accent: #345ff6;
  --color-paragraph: #5e6e85;
  --color-borders: #d8e2e7;
  --color-main-background: #ffffff;
  --color-input: #000000;

  --heading-xl: 64px;
  --heading-l: 48px;
  --heading-m: 24px;
  --heading-s: 20px;

  --paragraph-regular: 16px;
  --paragraph-small: 14px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-paragraph);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
  font-weight: 600;
}

h1 {
  font-size: var(--heading-xl);
}

h2 {
  font-size: var(--heading-l);
}

h3 {
  font-size: var(--heading-m);
}

h4 {
  font-size: var(--heading-s);
}

/*----- layouts -----*/

.container {
  padding: 0 1rem;
  max-width: 1440px;
}

.section-container {
  padding: 0 7.25rem;
}

.card {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 1rem;
  background: var(--color-main-background);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

@media (max-width: 980px) {
  .section-container {
    padding: 2rem 2.7rem 6rem 2.4rem;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 2rem 1.5rem 6rem 1.5rem;
  }
}

/*----- header -----*/

.header-section {
  padding-top: 4.68rem;
  padding-bottom: 5.37rem;
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
}

.logo {
  width: 64px;
  margin-bottom: 1.75rem;
}

.header-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  justify-content: center;
}

.header-text p {
  line-height: 150%;
}

.header-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
}

.bmi-form {
  width: 100%;
}

.radio-grid,
.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  row-gap: 2rem;
  text-align: left;
}

input[type="radio" i] {
  appearance: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-borders);
  margin: 0 10px 0 0;
  position: relative;
  top: 6px;
}

input[type="radio" i]:checked {
  width: 14px;
  height: 14px;
  background-color: var(--color-accent);
  box-shadow: 0 0 0 6px rgba(52, 95, 246, 0.2);
  margin: 10px 15px 0 5px !important;
  top: 2px;
}

input[type="radio" i]:hover {
  cursor: pointer;
  border: 1px solid var(--color-accent);
}

.radio-label:hover {
  cursor: pointer;
}

.radio-label {
  font-weight: 600;
  color: var(--color-heading);
}

.text-label {
  color: var(--color-paragraph);
  font-size: var(--paragraph-small);
  font-weight: 400;
  line-height: 150%;
}

.input-wrapper {
  width: 90%;
}

.text-input {
  position: relative;
  color: var(--color-accent);
  font-size: 1.5rem;
}

.text-input input {
  border: 1px solid var(--color-borders);
  border-radius: 0.5rem;
  color: var(--color-input);
  font-size: 1.5rem;
  height: 3.5rem;
  margin-top: 5px;
  text-indent: 1rem;
  width: 100%;
}

.text-input input:focus {
  border: 1px solid var(--color-borders);
  outline-offset: 0px;
  outline: none;
}

.text-input input:hover {
  cursor: pointer;
  border: 1px solid var(--color-accent);
}

::placeholder {
  color: var(--color-borders);
}

.text-input .input-permanent {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.hidden {
  display: none;
}

.bmi-result {
  border-radius: 16px 999px 999px 16px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  padding: 32px;
  width: 100%;
}

.bmi-result h3 {
  color: var(--color-main-background);
  margin-bottom: 1.5rem;
}

.bmi-result p {
  color: var(--color-main-background);
  font-size: var(--paragraph-small);
  line-height: 150%;
  margin-bottom: -2rem;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.result-left span {
  font-size: var(--paragraph-regular);
  font-weight: 600;
}

.result-right span {
  font-size: var(--paragraph-small);
  line-height: 150%;
}

.result span,
.result h1 {
  color: var(--color-main-background);
}

.bmi-ideal-weight {
  font-weight: 600;
}

@media (max-width: 810px) {
  .container {
    padding: 0;
  }

  .header-section {
    background: var(
      --Gradient-1,
      linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%)
    );
    border-radius: 0px 0px 35px 35px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }

  .logo {
    width: 40px;
  }

  .header-text {
    gap: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  .header-text h1 {
    font-size: var(--heading-l);
  }
}

/*----- first description section -----*/

.description-section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8.125rem;
  margin-top: 4rem;
  padding-bottom: 6rem;
}

.portrait-img {
  max-width: 35.25rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.18rem;
}

@media (max-width: 1224px) {
  .portrait-img {
    max-width: 22.5rem;
  }

  .description-section-1 {
    gap: 4rem;
  }

  .description-heading {
    font-size: 2rem;
  }
}

@media (max-width: 810px) {
  .portrait-img {
    margin-left: -5.5rem;
  }
}

/*----- second description section -----*/

.description-section-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 4.5rem;
  padding-bottom: 6rem;
  border-radius: 35px;
  background: var(
    --Gradient-1,
    linear-gradient(310deg, #ecf4fe 0%, rgba(224, 244, 246, 0) 70%)
  );
}

.description-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.description-heading {
  letter-spacing: -1.2px;
  margin-bottom: 1.5rem;
  font-size: var(--heading-m);
}

.description {
  line-height: 150%;
}

.icon {
  width: 4rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 810px) {
  .description-section-2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    border-radius: 0;
  }

  .description-card {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: flex-start;
  }

  .icon {
    align-self: center;
    justify-self: center;
  }
}

/*----- limitations section -----*/

.headline {
  grid-area: headline;
  margin-right: 6.25rem;
  text-align: center;
  width: 100%;
}

.swipe-img {
  grid-area: swipe-img;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipe-img img {
  margin-top: -5rem;
}

.gender {
  grid-area: gender;
}

.age {
  grid-area: age;
}

.muscle {
  grid-area: muscle;
}

.pregnancy {
  grid-area: pregnancy;
}

.race {
  grid-area: race;
}

.limitation-section {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2rem;
  grid-template-areas: "col-1 col-2 col-3 col-4 col-5 col-6";
  grid-template-areas:
    "headline headline headline gender gender . "
    "swipe-img swipe-img age age muscle muscle"
    ". pregnancy pregnancy race race . ";
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.headline h2 {
  margin-bottom: 2rem;
}

.limit-info {
  line-height: 150%;
}

.icon-heading {
  display: flex;
  gap: 1rem;
}

@media (max-width: 810px) {
  .swipe-img {
    display: none;
  }

  .limitation-section {
    row-gap: 1.5rem;
    column-gap: 1rem;
    grid-template-areas: "col-1 col-2 col-3 col-4";
    grid-template-areas:
      "headline headline headline headline"
      "gender gender age age"
      "muscle muscle pregnancy pregnancy"
      ". race race . ";
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .headline h2 {
    font-size: 2rem;
    text-align: center;
  }

  .headline p {
    text-align: center;
  }
}

@media (max-width: 590px) {
  .section-container {
    padding: 1.5rem;
  }

  .card {
    padding: 1rem;
  }

  .input-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }

  .bmi-result {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 16px;
    background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
    margin-top: -2.5rem;
  }

  .description-section-1 {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin-top: 4rem;
    padding-bottom: 6rem;
  }

  .portrait-img {
    max-width: 100%;
    margin-left: 0;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .description-heading {
    font-size: 2rem;
  }

  .description-container p {
    line-height: 150%;
  }

  .description-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding-bottom: 3.5rem;
  }

  .icon {
    align-self: flex-start;
  }

  .limitation-section {
    padding-top: 4.5rem;
    row-gap: 1rem;
    grid-template-areas: "col-1";
    grid-template-areas:
      "headline"
      "gender"
      "age"
      "muscle"
      "pregnancy"
      "race";
  }

  .headline {
    margin-bottom: 2.5rem;
  }
}
